.detailCards {
    background: linear-gradient(to bottom, rgba(80, 212, 242), rgba(13, 40, 64));
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5em;
    margin: auto;
} 
.detailCards h2 {
    border-radius: 5px;
    background-color: #0D2840;
    color:rgb(255, 255, 255);
    font-size: 25px;
    width: fit-content;
    height: fit-content;
    box-shadow: 2px 2px 2px 3px rgb(0, 0, 0);
}
.detailCards h3 {
    color:rgb(255, 255, 255);
    font-size: 25px;
} 
 