.divCards {
    background: linear-gradient(to bottom, rgba(0, 0, 0), rgb(80, 73, 71));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    flex-wrap: wrap;
    gap: 1em;
}