.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 0.5em;
    background-color: #0D2840;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px 0px rgba(60, 60, 60, 0.25);
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-inline: 5em;
    border-radius: 5px;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    gap: 5em;
}
.Nav h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #322073;
    color:#50D4F2;
    font-size: 25px;
    width: fit-content;
    height: 1.5em;
    box-shadow: 2px 2px 2px 3px rgb(0, 0, 0);
}
.Nav h3:hover {
    color: #50d4f2c4;
    box-shadow: 2px 2px 2px 3px rgb(161, 161, 161);
    
}