.divCard {
    background: linear-gradient(to bottom, rgba(13, 40, 64), rgba(80, 212, 242));
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

.divbtnRed {
    background-color: rgba(80, 212, 242, 0.363);
}
.divbtnWhite {
    background-color: rgba(80, 212, 242);
}

.closeBtn {
    border: 0px;
    background-color: red;
    width: 2em;
    height: fit-content;
    border-radius: 0 0 2em 0 ;
    transition: 0.5s;
}
.closeBtn:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,5);
}

h2 {
    color:rgb(255, 255, 255);
    font-size: 25px;
}